<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>DW민원</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

    <th:block th:replace="layout/header :: header"></th:block> <!--경로 :: fragment이름-->
    <th:block layout:fragment="main"></th:block>
    <th:block th:replace="layout/footer :: foot"></th:block>

</body>
</html>

