<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

    <footer th:fragment="foot" class="mt-[50px] py-[20px] px-[50px]
                    bg-gray-200">
        <div class="flex flex-col gap-5">
            <p>DW인권 위원회가 운영하는 DW신문고</p>
            <p>(34838) 대전 중구 중앙로 121번길 20(선화동 41, 방산빌딩)</p>
            <p class="font-bold">DW민원 안내 콜센터 국번있이 042-222-2402(유료, 365일 8시간)</p>
            <p class="font-bold">DW신문고 시스템 이용관련 문의(이동렬-무료), 평일 09:00~17:30</p>
            <p>DW 신문고는 DW아카데미 학원에서 운영합니다. </p>
        </div>
    </footer>
</html>