<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<div layout:fragment="main">
    <div class="w-[700px] mx-auto mt-5">
        <h2 class="text-center text-[25px]"
            th:text="${detail.title}"></h2>

        <div>
            <p th:text="${detail.content}"></p>
        </div>
        <p th:text="'작성일 ' + ${detail.createdAt}"></p>
        <p th:text=" ${detail.category}" ></p>
    <!--민원 이미지-->
        <ul class="flex flex wrap">
            <li th:each="img : ${detail.imgDtos}" class="w-50%">
                <img th:src="${img.url}" class="w-100">
            </li>
        </ul>
    <!--민원 답변-->
        <div th:if="${detail.status == '완료'}">
            <h3>답변</h3>
            <p th:text="${detail.reply}"></p>
            <p th:text="${detail.replyAt}"></p>
        </div>

        <a th:href="@{/}">수정</a>
    </div>
</div>

</html>