<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<div layout:fragment="main">

    <div class="w-[400px] mx-auto mt-4">
        <form method="post" th:action="@{/signIn}">
            아이디 : <input type="text" name="userId"> <br>

            비밀번호 : <input type="password" name="password"> <br>

            <p class="text-[10px] text-red-600" th:if="${loginError}" th:text="${loginError}"></p>

            <button>로그인</button>
            <input type="hidden" name="${_csrf.parameterName}" th:value="${_csrf.token}">
        </form>


    </div>
</div>
</html>