<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="~{layout/default}">

    <div layout:fragment="main">
        <div class="max-w-[1200px] mx-auto px-4 h-[800px]">
            <ul class="grid grid-cols-6 border border-gray-300">
                <li class="border-r border-gray-300">
                <span class="h-[60px] bg-blue-600 text-white
                            font-semibold block flex
                            items-center justify-center">
                    부패 공익 신고
                </span>
                </li>

                <li class="border-r border-gray-300">
                <span class="h-[60px] bg-blue-600 text-white
                            font-semibold block flex
                            items-center justify-center">
                    진섭 비리신고
                </span>
                </li>

                <li class="border-r border-gray-300">
                <span class="h-[60px] bg-blue-600 text-white
                            font-semibold block flex
                            items-center justify-center">
                    적극민원신청
                </span>
                </li>

                <li class="border-r border-gray-300">
                <span class="h-[60px] bg-blue-600 text-white
                            font-semibold block flex
                            items-center justify-center">
                    도헌 갑질 신고
                </span>
                </li>

                <li class="border-r border-gray-300">
                <span class="h-[60px] bg-blue-600 text-white
                            font-semibold block flex
                            items-center justify-center">
                    창호 예산낭비
                </span>
                </li>

                <li class="border-r border-gray-300">
                <span class="h-[60px] bg-blue-600 text-white
                            font-semibold block flex
                            items-center justify-center">
                    성현심판청구
                </span>
                </li>

            </ul>

            <ul class="mt-[100px] text-[25px]">
                <li>203호 민원상담코너 [동렬! 내마음의안식처] 운영</li>
                <li>201호 제45회 발코니 고양이 축제</li>
                <li>501호 민원 비치용 도서 추천</li>
                <li>203호 신혼부부 주택금융 대출 (차도헌 담당)</li>
            </ul>
        <div class="mt-3 relative w-[600px]">
            <h2 class="text-[20px] font-bold">최근 민원</h2>
            <div class="text-[30px] absolute top-0 right-0">+</div>
            <ul>

            </ul>
        </div>

        </div>
    </div>

</html>